# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcworkspace
*.xcuserdata
*.xccheckout
*.moved-aside
*.xcuserstate

# SwiftPM
.swiftpm/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Archives
*.xcarchive

# User-specific files
*.orig
*.swp

# Other
*.log
*.env
